@model IEnumerable<CiroKebab.Models.Prodotti>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h1 class="text-center my-3 titolo-prodotti">Pizza TheRock - Le nostre pizze </h1>

    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-4 gy-4">
                <div class="card h-100" alt="...">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/Content/@item.Foto" class="d-block w-100" style="height: 295px;" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/@item.Foto2" class="d-block w-100" style="height: 295px;" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/@item.Foto3" class="d-block w-100" style="height: 295px;" alt="...">
                            </div>
                        </div>
                    </div>

                    <div class="card-body  ">
                        <h5 class="card-title text-uppercase bg-warning text-white rounded-pill text-center py-2">@item.Nome</h5>
                        <hr />
                        <p class="card-text fw-bold ">Prezzo: @item.Prezzo.ToString("F2") $</p>
                        <p class="card-text fw-bold">Consegna: @item.Consegna</p>
                        <p class="card-text fw-bold text-truncate">Ingredienti: @item.Ingredienti</p>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Edit", "Prodotti", new { id=item.idProdotto })" class="btn btn-primary">Edit</a>
                            <a href="@Url.Action("Delete", "Prodotti", new { id=item.idProdotto })" class="btn btn-primary">Delete</a>
                        }
                        <a href="@Url.Action("AddToCart", "Prodotti", new { id=item.idProdotto })" class="btn btn-success">Aggingi al carrello</a>
                    </div>
                </div>
            </div>
         
            if ((Model.ToList().IndexOf(item) + 1) % 3 == 0)
            {
            @:</div><div class="row">
            }
        }
    </div>
</div>
